<launch>
  <!-- bringup turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  
  <!-- deploy voice interaction system -->
  <include file="$(find voice_interaction_robot)/launch/voice_interaction.launch">
    <arg name="use_sim_time" value="false" />
    <arg name="use_polly" value="true" />
    <arg name="use_microphone" value="true" />
  </include>
</launch>
