<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 

       See http://wiki.ros.org/Clock

       Note: set to false for deploying to a real robot.
  -->

  <!-- Optional AWS region, if empty uses the config defaults -->
  <arg name="aws_region" value="$(optenv ROS_AWS_REGION)" doc="AWS region override, defaults to config .yaml if unset"/>
  
  <!-- Default ROS output location, set this to 'log' to write stdout to a log file instead of the screen -->
  <arg name="output" default="screen" doc="ROS stdout output location"/>

  <!-- UserID sent when communicating with the Lex Bot, can be any string. Each robot talking to the same Lex Bot should have its own UserID -->
  <arg name="user_id" value="$(optenv LEX_USER_ID)" doc="UserID sent when communicating with the Lex Bot, can be any string. Defauls to value in config .yaml if unset"/>

  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name="lex_node_name" value="lex_node"/>
  <include file="$(find lex_node)/launch/lex_node.launch">
    <arg name="config_file" value="$(find voice_interaction_robot)/config/lex_config.yaml"/>
    <arg name="node_name" value="$(arg lex_node_name)"/>
    <arg name="output" value="$(arg output)"/>
  </include>
  <rosparam if="$(eval aws_region != '')" param="/$(arg lex_node_name)/aws_client_configuration/region" subst_value="true">$(arg aws_region)</rosparam>
  <rosparam if="$(eval user_id != '')" param="/$(arg lex_node_name)/lex_configuration/user_id" subst_value="true">$(arg user_id)</rosparam>


  <!-- Launch Polly if enabled -->
  <arg name="use_polly" default="false"/>
  <group if="$(arg use_polly)">
    <include file="$(find tts)/launch/tts_polly.launch"/>
  </group>

  <remap from="/voice_interaction_node/text_output" to="/text_output" />
  <remap from="/voice_interaction_node/audio_output" to="/audio_output" />
  <node pkg="voice_interaction_robot" type="voice_interaction" name="voice_interaction" output="$(arg output)">
    <param name="use_polly" type="bool" value="$(arg use_polly)"/>
  </node>
  <node pkg="voice_interaction_robot" type="voice_command_translator" name="voice_command_translator" output="$(arg output)"/>

  <arg name="use_microphone" default="false"/>
  <group if="$(arg use_microphone)">
    <remap from="/voice_input_node/audio_input" to="/audio_input" />
    <node pkg="voice_interaction_robot" type="voice_input" name="voice_input" output="$(arg output)"/>
  </group>

  <arg name="use_speaker" default="false"/>
  <group if="$(arg use_speaker)">
    <node pkg="voice_interaction_robot" type="voice_output" name="voice_output" output="$(arg output)"/>
    <node pkg="voice_interaction_robot" type="audio_output" name="audio_output" output="$(arg output)"/>
  </group>
</launch>
